# python 1/22

file1:

#!/usr/bin/python3
print("Hello World!")

>>> python3 file1

---> Hello World!

---------------------

>>>print("Hello World!")

---> Hello World!


chmod u+x file1      (make the file1 to executable file)

>>> import file1     (import the file and run)

In [1]:
#!/usr/bin/python3
print("Hello World!")## without ""

title = "The Meaning of life"   
title                ## with ""

Hello World!

'The Meaning of life'

myfile.py:

title = "The Meaning of life"

>>>import myfile
>>>myfile.title 
---> "The Meaning of life"     with""

>>>print(myfile.title)
---> The Meaning of life       without""

from myfile import title     (import part of the file )

# threenames.py:
  a = 'dead'
  b = 'parrot'
  c = 'sketch'
  print(a,b,c)
  
  --------------
 import threenames
 dead parrot sketch
 >>> threename.b, threename.c
 
 ('parrot','sketch')

# list
 list1 = ['abc','def','ghi']
 tuple1 = ('abc','def','ghi')
 list1[1].upper()v
 tuple1[1].upper()x

In [27]:
 list1 = ['abc','def','ghi']
 tuple1 = ('abc','def','ghi')
 set1 = {4,2,1}
print(list1[1].upper())
print(tuple1[2].upper())

list1[0]='0123'
print(list1)
#tuple1[0]='0123' wrong

DEF
GHI
['0123', 'def', 'ghi']

In [29]:
set1={4,2,1}
print(set1)
set1.add(5)
print(set1)
set1.update([6,7])
print(set1)
set1.discard(4)
print(set1)
set1.remove(5)
print(set1)

{1, 2, 4}
{1, 2, 4, 5}
{1, 2, 4, 5, 6, 7}
{1, 2, 5, 6, 7}
{1, 2, 6, 7}

In [3]:
s = 'Spam'
s[0]
#s[0] = 's' Error
##string is an object cant be modified

'S'

In [4]:
list1

['abc', 'def', 'ghi']

In [5]:
list2=list1  # its a link not a copy only
list2

['abc', 'def', 'ghi']

In [6]:
list1.append('xyz')
list1

['abc', 'def', 'ghi', 'xyz']

In [7]:
#numbers1 = [1,2,3,.....,100]
number1 = list(range(1,101)) ##not include 101
number2 = number1[9:19]
number2
##[a:b] include a but not include b a.....b-1
##a and b are indexes
##[a:] [a:b] [:b]
## copy: list2 = list1[:]   copy

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [8]:
myFoods = ['pizza','feelafed','carrod']
friendFoods = myFoods[:] ##friendFoods is a diff list now   copy from myFoods
myFoods.append('chocolate')
friendFoods.append('ice cream')
print(myFoods)
print(friendFoods)

['pizza', 'feelafed', 'carrod', 'chocolate']
['pizza', 'feelafed', 'carrod', 'ice cream']

In [9]:
players = ['charters','martina','Micheale','florence','eli']
players[1:4]

['martina', 'Micheale', 'florence']

In [10]:
players[:4]

['charters', 'martina', 'Micheale', 'florence']

In [11]:
players[2:]

['Micheale', 'florence', 'eli']

In [12]:
for player in players[:3]:   ##a new line is set between each item by default or put an augment to change
    print(player.title())

Charters
Martina
Micheale

In [13]:
squares = []

for value in range(1,11):
    square = value**2
    squares.append(square)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [14]:
squares = []
squares = [value**2 for value in range(1,11)] ## create a loop and append the value into the list
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [15]:
nums = list(range(2,11,3))
nums

[2, 5, 8]

In [16]:
l = [value**2 for value in range(1,11)]
l

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [17]:
l2 = l[2:5]
l2

[9, 16, 25]

In [18]:
L = [123,'spam',1.23]
print("length of L is:"+str(len(L)))
print(L[:-1])
print(L+[4,5,6])
print(L)

length of L is:3
[123, 'spam']
[123, 'spam', 1.23, 4, 5, 6]
[123, 'spam', 1.23]

In [19]:
M = [[1,2,3],[4,5,6],[7,8,9]]
M

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [20]:
list(row[1] for row in M)  ##go through each row and get the second element

[2, 5, 8]

In [21]:
list(row[2] for row in M if row[2]%2==0)

[6]

In [22]:
list(M[row][row] for row in [0,1,2])

[1, 5, 9]

In [23]:
[c*2 for c in "space"]

['ss', 'pp', 'aa', 'cc', 'ee']

In [24]:
list(range(-6,7,2))

[-6, -4, -2, 0, 2, 4, 6]

In [25]:
[[x**2,x**3] for x in range(4)]

[[0, 0], [1, 1], [4, 8], [9, 27]]

In [110]:
my_list = [x * y for x in [20, 40, 60] for y in [2, 4, 6] if x > 20 if y>2]
print(my_list)

[160, 240, 240, 360]

In [26]:
M = [[1,2,3],
     [4,5,6],
     [7,8,9]]
M
#comment
"""
   This is the start of the string
   This is the second line of the string
   end.
"""

'\n   This is the start of the string\n   This is the second line of the string\n   end.\n'

## 1/29

In [27]:
age = 12
if age<4:
    print("Admission cost is $0")
elif age < 18:
    print("Admission cost is $5")
else :
    print("Admission cost is $10")

Admission cost is $5

In [28]:
toppings = ['mushrooms','onions','pineapple'] #python knows its a list
print('mushrooms' in toppings)#check element is in the list or not

True

In [29]:
users=['andrew','carolina','david']
user = 'marie'

if user not in users:
    print(str(user)+' is not in the users')
else:
    print(str(user)+' is in the users')

marie is not in the users

In [30]:
answer = 17
if answer != 42:
    print('not the answer')
age_0=22
age_1=18
print(age_0>=21 and age_1>=21)

not the answer
False

In [31]:
#dictionary 
# for each item there are a key and a value
#key:value 
alien_0={'color':'green','points':5}
print(alien_0)
print(alien_0['color'])

alien_0={}#empty dictionary
alien_0['color']='green'
print(alien_0)
alien_0['points']=5
print(alien_0)

alien_0['color']='yellow'
print(alien_0)

alien_0['x_position']=0
alien_0['y_position']=25
print(alien_0)


del alien_0['color']
print(alien_0)

alien_0[10]=20 # 10 will be convert to a str???
print(alien_0)
#alien_0['10']#wrong
alien_0[10]

alien_0 = {'color':'green','points':'5'}
alien_1 = {'color':'yellow','points':'10'}
alien_2 = {'color':'red','points':'15'}
aliens = [alien_0,alien_1,alien_2]
for alien in aliens:
    print(alien,end='\t')

    
aliens=[]
for alien in range(30):
    alien={'color':'green','points':5,'speed':'slow'}
    aliens.append(alien)
for alien in aliens[:5]:
    print(alien)

{'color': 'green', 'points': 5}
green
{'color': 'green'}
{'color': 'green', 'points': 5}
{'color': 'yellow', 'points': 5}
{'color': 'yellow', 'points': 5, 'x_position': 0, 'y_position': 25}
{'points': 5, 'x_position': 0, 'y_position': 25}
{'points': 5, 'x_position': 0, 'y_position': 25, 10: 20}
{'color': 'green', 'points': '5'}	{'color': 'yellow', 'points': '10'}	{'color': 'red', 'points': '15'}	{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}

In [32]:
   x=5
    #x#wrong indent

In [42]:
languages={'jen':'c'
            ,'Jerry':'Python'
           ,'Sam':'Java'
        
         }
  
languages

{'jen': 'c', 'Jerry': 'Python', 'Sam': 'Java'}

In [43]:
for name,language in languages.items():
    print(name.title()+"'s favorite is "+language.title()+".")

Jen's favorite is C.
Jerry's favorite is Python.
Sam's favorite is Java.

In [35]:
for name in sorted(languages.keys()):
    print(name.title())
    print(languages[name].title())

Jen
C
Jerry
Python
Sam
Java

In [36]:
language2 = {
    'Jerry':['python','c++'],
    'Jane':['c'],
    'Grace':['matlab','cobol','java']
}

# 2/5 
    print(args,sep='',end='\n',file= )   by default stay at the next line
    print(x,y,sep='\t',end= )
    15  20 stay here
    
    def f(args):
        print('Hello')

In [37]:
def name(): print('hello')

In [38]:
x=10;y=5

import sys
sys,input

for line sys.input:

In [39]:
users={
    'JERRY':{
        'first':'ANYU',
        'last':'KUO',
        'location':'Taiwan'
    },
    'SAM':{
        'first':'ANSHENG',
        'last':'KUO',
        'location':'Taipei'
        
    }
}

In [40]:
for username,user_info in users.items():
    print("username:"+username)
    print("first Name: "+user_info['first'])
    print("last Name:"+user_info['last'])
    print("location:"+user_info['location'])

username:JERRY
first Name: ANYU
last Name:KUO
location:Taiwan
username:SAM
first Name: ANSHENG
last Name:KUO
location:Taipei

# 2/7

In [41]:
x=5
y='xyz'
z=[1,2,3]
print(x,y,z)
# %:conversion 
print('%s,%s,%s'%(x,y,z))
'''
%s:string
%d:integer
%f:floating number
%c:character
%e:scientific number
%g: python will make a decision for the type

'''

5 xyz [1, 2, 3]
5,xyz,[1, 2, 3]

'\n%s:string\n%d:integer\n%f:floating number\n%c:character\n%e:scientific number\n%g: python will make a decision for the type\n\n'

In [48]:
print('%+010.2f|%+05d'%(3.14121,-42))

+000003.14|-0042

In [3]:
print('-'*10, end='')
print("\n")
print("h")

----------

h

In [44]:
s='Jerry'
L=list(s)
L

['J', 'e', 'r', 'r', 'y']

# 2/12

In [45]:
L=[]
Lf=[]

x=1
while x<=100:
    L.append(x)
    x+=1
for x in range(1,101):
    Lf.append(x)
Ld=[x*x for x in range(1,101)]

In [46]:
L2=[x for x in range(1,101) if x%3==0]
L2

[3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 30,
 33,
 36,
 39,
 42,
 45,
 48,
 51,
 54,
 57,
 60,
 63,
 66,
 69,
 72,
 75,
 78,
 81,
 84,
 87,
 90,
 93,
 96,
 99]

In [47]:
s='Spam'
s.find('pa')
t=s.replace('pa','xyz')
line='aaa,bbb,ccc,ddd'
line.split(',')
line.isalpha()

False

stdlin,stdlout,stdlerr
     in   out    error
data.txt

f=open('data.txt','w')
w:writing
r:reading
a:appending
f.write()

In [48]:
f=open('data.txt','w')
f.write('Hello world\n')
f.write('Jerry\n')
f.close()

In [49]:
f=open('data.txt','r')
x=f.read()
x

'Hello world\nJerry\n'

In [50]:
for line in open('data.txt'):
    print(line,end='')

Hello world
Jerry

In [51]:
f.close()
f=open('data.txt','w')
s='abc'
f.write(s)

3

print() will have new line in the end by default
write() will not have new line in the end

print('abc',25,'ln') works
write('abc',25,'ln') does not works since only take 1 argument for write() and string only

In [75]:
T=(1,2,3,4) #tuple
a=(2)
T+(5,6)

(1, 2, 3, 4, 5, 6)

In [76]:
T[0]

1

In [77]:
T.index(4)# looking for the value 4 and return the index

3

In [78]:
T.count(4) #count how many 4 in the tuple

1

In [79]:
#T[0]=2#not working for tuple but list

In [81]:
T=(2,)+T[1:] #(2,2,3,4)
T

(2, 2, 3, 4)

In [61]:
T='spam',3.0,[11,22,33]
T

('spam', 3.0, [11, 22, 33])

In [62]:
T[2]

[11, 22, 33]

In [31]:
x={'s','p','a','m','x','a'}#set
print(x)#auto sorted
x=set('spamxa')
y={'h','a','m'}
x,y#creating a tuple

{'x', 'm', 'p', 's', 'a'}

({'a', 'm', 'p', 's', 'x'}, {'a', 'h', 'm'})

set: sorted
list:

# 2/14 SET

In [113]:
#SET no repeat element and sorted
x={'a','m','p','s'}
y={'m','h','p','s'}
z={'a','a','c','b'}
x,y,z

({'a', 'm', 'p', 's'}, {'h', 'm', 'p', 's'}, {'a', 'b', 'c'})

In [65]:
x&y#intersection

{'m', 'p', 's'}

In [66]:
x|y#union

{'a', 'h', 'm', 'p', 's'}

In [67]:
x<y #x is subset of y?

False

In [68]:
x>y#y is subset of x?

False

In [69]:
A={2,3}
B={3,7,2}
A<B

True

In [70]:
A>=B

False

In [71]:
x-y

{'a'}

In [96]:
T1=(n**2 for n in range(4))

In [97]:
next(T1)#for tuple

0

In [98]:
next(T1)

1

In [99]:
list(set([2,1,1,3,1]))

[1, 2, 3]

In [76]:
sorted(set([1,2,1,3,1]))

[1, 2, 3]

In [77]:
set('spam')-set('ham')

{'p', 's'}

In [78]:
set('spam')==set('asmp')#both sets have same element

True

In [79]:
'p' in set('spam'), 'p'in 'spam', 'ham' in ['egg','spam','ham']

(True, True, True)

In [80]:
s={1,23}
s.add(3)
s

{1, 3, 23}

In [81]:
s.add((1,2,3))
s

{(1, 2, 3), 1, 23, 3}

# 2/19

In [82]:
#Pizza.py
def make_pizza(size,*toppings):# *: means muiltiple string argument
    print("Making a "+str(size)+"-inch pizza with following toppings.")
    for topping in toppings:
        print("-"+topping)

In [83]:
make_pizza(16,'pepperoni')

Making a 16-inch pizza with following toppings.
-pepperoni

In [84]:
make_pizza(10,'mushrooms','green peppers','extra cheese')

Making a 10-inch pizza with following toppings.
-mushrooms
-green peppers
-extra cheese

In [85]:
def describe_pet(animalType='dog',petName='Kevin'):#default 
    print(animalType+' '+petName)

In [86]:
describe_pet(animalType='Husky',petName='Herry')

Husky Herry

In [87]:
describe_pet()

dog Kevin

In [88]:
def build_profile(first,last,**user_info):# **:means muiltiple dictionarys
    profile={}
    profile['first_name']=first
    profile['last_name']=last
    for key,value in user_info.items():
        profile[key]=value
    return profile

In [89]:
user=build_profile('ANYU','KUO',location='Taipei',field='CS')
print(user)

{'first_name': 'ANYU', 'last_name': 'KUO', 'location': 'Taipei', 'field': 'CS'}

# Midterm review

In [2]:
#quiz1
#1
name="Jerry"
print("Hi"+name+" would you like to practive some Python today?")

HiJerry would you like to practive some Python today?

In [3]:
#2
print(name.lower())
print(name.upper())
print(name.title())

jerry
JERRY
Jerry

In [8]:
name2="\tANYUKUO\nJerry\t"
print(name2)
print(name2.lstrip())
print(name2.strip())

	ANYUKUO
Jerry
ANYUKUO
Jerry
ANYUKUO
Jerry

In [23]:
people=['Jerry','Sherry']
for i in people:
    print('Hi'+i+'!',end=' ')
people.append('SAM')
people.pop()
print(people)

del(people[0])
print(people)

HiJerry! HiSherry! ['Jerry', 'Sherry']
['Sherry']

In [27]:
#3
L={'Jerry':[1,2,3],
  'Sherry':[6,66,666]}

for name,number in L.items():
    print(name+str(number))

Jerry[1, 2, 3]
Sherry[6, 66, 666]

In [44]:
#4
M=[[1,2,3],
   [4,5,6],
   [7,8,9]]

#a 
L=[x[1] for x in M]
print(L)
#b
L=[x[1] for x in M if x[1]%2!=0]
print(L)
#c
L=[M[i][i] for i in range(3)]
print(L)
#d
L=[[M[i][j] for i in range(3)] for j in range(3)]
print(L)
#e
L=[M[2-i][i] for i in reversed(range(3)) ]
print(L)

[2, 5, 8]
[5]
[1, 5, 9]
[[1, 4, 7], [2, 5, 8], [3, 6, 9]]
[3, 5, 7]

In [42]:
#a
print('%-.4f,%05d'%(3.14159,42))
print('%d,%f'%(3.14159,42))
print('%g,%e'%(3.14159,42))

3.1416,00042
3,42.000000
3.14159,4.200000e+01

# Midterm end at this point!

In [90]:
a = 3; b=4
a+1,a-1

(4, 2)

In [91]:
b*3,b/2 #devision will return a floating number

(12, 2.0)

In [92]:
a%2,b**2

(1, 16)

In [93]:
b/2+a

5.0

In [94]:
b/(2+a)

0.8

In [95]:
b//2+a # // return a integer  , / return a floating number

5

In [96]:
b//(2+a)

0

In [97]:
num=1/3.0 # 16 times 
num

0.3333333333333333

In [98]:
print('%e'%num)

3.333333e-01

In [99]:
'%4.2f'%num  #4 spaces with 2 floating numbers

'0.33'

In [100]:
10/4

2.5

In [101]:
10/4.0

2.5

In [102]:
10//4

2

In [103]:
import math 
from math import floor
from math import *

In [104]:
trunc(5/float(-2))

-2

In [105]:
pi,e

(3.141592653589793, 2.718281828459045)

In [106]:
pow(2,4),2**4,2.0**4.0

(16.0, 16, 16.0)

In [107]:
round(pi,5)

3.14159

In [22]:
M=[[1,2,3],
   [4,5,6],
   [7,8,9]]

In [23]:
L=[x[1] for x in M]
L

[2, 5, 8]

In [13]:
L=[x[1] for x in M if x[1]%2!=0]
L

[5]

In [16]:
L=[M[i][i] for i in range(3) ]
L

[1, 5, 9]

In [20]:
L=[[M[i][j] for i in range(3) ]for j in range(3)]
L

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [21]:
m=3
n=2
test = [[0 for i in range(m)] for j in range(n)]
test

[[0, 0, 0], [0, 0, 0]]

In [30]:
import math
math.pi
print('%-e'%31.4)

3.140000e+01

# 2/28

In [1]:
def f(*args): print(args)

In [2]:
f() #empty tuple

()

In [3]:
f(1)

(1,)

In [5]:
f(1,2,3,4)

(1, 2, 3, 4)

In [6]:
def f1(**argv): print(argv)

In [7]:
f1() #empty dictionary

{}

In [13]:
f1(a=1,b=2)

{'a': 1, 'b': 2}

In [14]:
def f2(a,*pargs,**bargs): print(a,pargs,bargs)

In [15]:
f2(1,2,3,x=1,y=2)

1 (2, 3) {'x': 1, 'y': 2}

In [19]:
args=(1,2,3,4)

In [24]:
def funs(a,b,c,d): print(a,b,c,d)

In [25]:
funs(*args)

1 2 3 4

In [27]:
args={'a':1,'b':2,'c':3,'d':4}

In [28]:
funs(**args)

1 2 3 4

In [31]:
funs(*(1,2),**{'d':4,'c':3})

1 2 3 4

In [33]:
funs(1,*(2,3),**{'d':4})

1 2 3 4

In [36]:
funs(1,*(2,),**{'c':3,'d':4})

1 2 3 4

In [39]:
0b1,0b10000,0b11111111

(1, 16, 255)

In [40]:
oct(64),hex(64),bin(64)

('0o100', '0x40', '0b1000000')

# 3/5

In [11]:
x=0b1001
y=0b0101
bin(x ^ y) #XOR

'0b1100'

In [12]:
bin(x<<2)

'0b100100'

In [16]:
x.bit_length()

4

In [19]:
len(bin(x))-2

4

In [20]:
L=[]
type(L)

list

In [23]:
if(type(L)==type([])):
    print(True)

True

In [27]:
sum=0
N=100
for i in range(1,N+1):
    sum+=i
print(sum)

5050

In [5]:
L=[1,2,3,4,5]
def mysum(L):
    print(L)
    if not L: return 0
    return L[0]+mysum(L[1:])
mysum(L)

[1, 2, 3, 4, 5]
[2, 3, 4, 5]
[3, 4, 5]
[4, 5]
[5]
[]

15

In [8]:
L=[1,[2,[3,4],5],6,[7,8]]
def sumtree(L):
    tot=0
    for x in L:
        if(not isinstance(x, list)):
            tot+=x
        else:
            tot+=sumtree(x)
    return tot
sumtree(L)

36

In [13]:
def echo(msg): print(msg)
#echo('abc')
x=echo('abc')
x

abc

In [17]:
def Echo(f,*arg): f(*arg)
Echo(echo,"Arg Call")

Arg Call

In [16]:
schedule = [(echo,'Spam!'),(echo,'Ham!')]
for (f,arg) in schedule : f(arg)

Spam!
Ham!

In [22]:
def make(label):
    def echo(msg) : print(label+" "+msg)
    return echo
F = make('Spam')
F('Ham!')

Spam Ham!

In [25]:
#lambda no return
f=lambda x,y,z:x+y+z
f(2,3,4)

9

In [8]:
tuple1=(1,2,3)
Echo(echo,'hello world')

hello world

# 3/7

In [27]:
import random
random.randint(15,25)

16

In [5]:
random.random() #[0,1]

0.7051948685819316

In [31]:
random.seed(1)

In [13]:
 x=lambda a='fee',b='five',c='four': a+b+c

In [14]:
x('fffff')

'ffffffivefour'

In [32]:
def knight():
    title='hello'
    action=lambda x: title+' '+x
    return action
act=knight()
msg=act('robin')
msg

'hello robin'

In [18]:
# lambda function is a small anonymous function
# Can take any number of arguments, but can only have one expression

# lambda arg1,arg2,...,argn : operation

L=[lambda x : x**2,
   lambda x : x**3,
   lambda x : x**4]
for f in L : print(f(2))

4
8
16

In [34]:
L[0](3)

9

In [33]:
def f1(x): return x**2
def f2(x): return x**3
def f3(x): return x**4
L=[f1,f2,f3]
L[0](3)

9

In [36]:
from time import time
from random import seed, randint

In [37]:
seed(time())

# 3/19

In [44]:
L = [lambda x: x**2,lambda x: x**3, lambda x: x**4]
beg='one'
{'already':lambda:2+2,'got': lambda:2*4, 'one':lambda:2**6}[beg]()

64

In [38]:
lower = lambda x,y: x if x<y else y
lower('bb','aa')

'aa'

In [2]:
lower('1','2')

'1'

In [46]:
#map(func,args)
L=[2,3,4,6,7]
list(map(lambda x: x**2,L))

[4, 9, 16, 36, 49]

In [50]:
import sys
showall = lambda x: list(map(sys.stdout.write,x))
#write does not print new line 

showall(['spam\n','toost\n','eggs\n'])

spam
toost
eggs

[None, None, None]

In [53]:
#tuple
(lambda x: lambda y: x+y)(99)(4)

103

In [14]:
def action(x): return lambda y:x+y

act=action(99)
act(2)

101

In [15]:
act(5)

104

In [16]:
str([1,2])+"34"

'[1, 2]34'

In [17]:
[1,2]+list('34')

[1, 2, '3', '4']

In [18]:
#map(func,args)

list(map(abs,[-1,-2,0,1,2]))

[1, 2, 0, 1, 2]

In [59]:
L1=[1,2,3,4];L2=[5,6,7,8]
list(zip(L1,L2))

[(1, 5), (2, 6), (3, 7), (4, 8)]

In [22]:
s1='abc';s2='xyz123'
list(zip(s1,s2))

[('a', 'x'), ('b', 'y'), ('c', 'z')]

In [24]:
list(zip(L1))

[(1,), (2,), (3,), (4,)]

In [25]:
keys=['spam','eggs','toast']
vals=[1,3,5]
list(zip(keys,vals))

[('spam', 1), ('eggs', 3), ('toast', 5)]

In [31]:
#1
D={}
for (x,y) in zip(keys,vals): D[x]=y
D

{'spam': 1, 'eggs': 3, 'toast': 5}

In [28]:
#2 Perfer way to use
dict(zip(keys,vals))

{'spam': 1, 'eggs': 3, 'toast': 5}

In [30]:
#3
{k:v for (k,v) in zip(keys,vals)}

{'spam': 1, 'eggs': 3, 'toast': 5}

In [32]:
[abs(x) for x in range(-5,5)]

[5, 4, 3, 2, 1, 0, 1, 2, 3, 4]

In [33]:
[x for x in range(-5,5) if x>0]

[1, 2, 3, 4]

In [16]:
# filter creates a list of elements for which a function returns true.
list(filter(lambda x : x>0,range(-5,5)))

[1, 2, 3, 4]

In [36]:
# The reduce(fun,seq) function is used to apply a particular function 
# passed in its argument to all of the list elements mentioned in the 
# sequence passed along. This function is defined in “functools” module.

from functools import reduce
reduce(lambda x,y: x+y,[1,2,3,4])
#      ----func-------,---seq----

10

# Quiz 6

In [5]:
def A(a,b=4,c=5): print(a,b,c)
A(1,2)
def B(a,b,c=5): print(a,b,c)
B(1,c=3,b=2)
def C(a,*p): print(a,p)
C(1,2,3)
def D(a,**q): print(a,q)
D(a=1,c=3,b=2)
def E(a,b,c=3,d=4): print(a,b,c,d)
E(1,*(5,6))
def F(a,*p,**q): print(a,p,q)
F(1,2,3,x=1,y=2)
def G(a,b,c,d): print(a,b,c,d)
G(1,*(2,),c=3,**{'d':4})
def H(a,*b,c=6,**d): print(a,b,c,d)
H(1,*(2,3),c=7,**dict(x=4,y=5))

1 2 5
1 2 3
1 (2, 3)
1 {'c': 3, 'b': 2}
1 5 6 4
1 (2, 3) {'x': 1, 'y': 2}
1 2 3 4
1 (2, 3) 7 {'x': 4, 'y': 5}

In [6]:
16 , 0o20,0x10,0b10000

(16, 16, 16, 16)

In [7]:
int('16'),int('20',8), int('10',16),int('10000',2)

(16, 16, 16, 16)

In [8]:
'%d, %o , %x , %X'%(15,15,15,15)

'15, 17 , f , F'

In [9]:
10<<2,10>>2

(40, 2)

In [10]:
oct(10|3), hex(10&3),bin(10^3)

('0o13', '0x2', '0b1001')

# 3/21 Thu

In [6]:
S='spam'
# enumerate() allows us to loop over something and have an automatic counter.
E=enumerate(S)
E

In [7]:
next(E)

(0, 's')

In [4]:
# get the value itself and also get the location
for (i,c) in enumerate(S):
    print(i,c)

0 s
1 p
2 a
3 m

In [8]:
[c*i for (i,c) in enumerate(S)]

['', 'p', 'aa', 'mmm']

In [10]:
# 1 EASY AND FASTER WAY
# x=0 go through y and x=1 go through y and so on
[x+y for x in [0,1,2] for y in [100,200,300]]

[100, 200, 300, 101, 201, 301, 102, 202, 302]

In [13]:
# 2
new_list=[]
for x in [0,1,2]:
    for y in [100,200,300]:
        new_list.append(x+y)
print(new_list)

[100, 200, 300, 101, 201, 301, 102, 202, 302]

In [16]:
[x+y+z for x in 'spam' if x in 'sm'\
    for y in 'SPAM' if y in ('P','A')\
    for z in '123' if z > '1']

['sP2', 'sP3', 'sA2', 'sA3', 'mP2', 'mP3', 'mA2', 'mA3']

In [26]:
# the reason it return 0 is because we use "return" in for loop
def gensquare(N):
    for i in range(N): return i**2
    #                  ↑ use "yield" instead, which means do not stop, see followed example
print(gensquare(5))

0

In [20]:
[i**2 for i in range(5)]

[0, 1, 4, 9, 16]

In [28]:
def gensquare(N):
    #for i in range(N): return i**2
    #                  ↑ use "yield" instead, which means do not stop
    for i in range(N): yield i**2

x = gensquare(5)
next(x)   #---> 0
next(x)   #---> 1

1

In [29]:
# use () will get generator type
(i**2 for i in range(5))

In [31]:
G = (i**2 for i in range(5))
next(G)  #---> 0
next(G)  #---> 1

1

In [9]:
# string.join(iterable)
#       --------------generator-------------------
''.join(x.upper() for x in 'aaa,bbb,ccc'.split(','))

'AAABBBCCC'

# 3/26 Tu

In [2]:
# Create a list
[x*x for x in range(10) if not x%2]

[0, 4, 16, 36, 64]

In [3]:
# Create a dictionary
# Key can be string, char, int
{x:x*x for x in range(10) if not x%2}

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [8]:
# Create a generator object G
G = (x*x for x in range(10) if not x%2)
list(G)

[0, 4, 16, 36, 64]

In [31]:
def permutate(seq):
    # it is empty
    if not seq: return [seq]
    else:
        rest=[]
        for i in range(len(seq)):
            # from 0 to i, for i+1 to end
            rest=seq[:i]+seq[i+1:]
            for x in permutate(rest):
#               rest.append(seq[i:i+1]+x)
                yield seq[i:i+1]+x
# ANOTHER WAY : ⏫  yield seq[i:i+1]+x
    return rest

In [39]:
seq=list(range(10))
p1=permutate(seq)
#len(p1)
#p1[0]
#p1[1]

[]

In [37]:
p2 =permutate(seq)
next(p2)

StopIteration: [0, 1, 2, 3, 4, 5, 6, 7, 8]

In [3]:
class FirstClass:
    # set data element and give value to element
    def setdata(self,value):
        self.data = value
    def display(self):
        print(self.data)
x=FirstClass()
y=FirstClass()

In [5]:
x.setdata("King Arhur")
y.setdata(3.14159)
x.display()
y.display()

King Arhur
3.14159

In [6]:
x.data = "new value"
x.display()

new value

In [9]:
# give a new attribute
x.name = "spam"

In [11]:
#Inheritance
#      subclass   superclass
class SecondClass(FirstClass):
    def display(self):
        print('Current value = "%s"' % self.data)

In [13]:
z = SecondClass()
z.setdata(42)
z.display()
x.display()

Current value = "42"
new value

In [15]:
class ThirdClass(SecondClass):
    def __init__(self,value):
        self.data=value
a = ThirdClass('abc')